apiVersion: apps/v1
kind: Deployment
metadata:
  name: nyx-python-backend-api
  namespace: nyx-backend-ns
  labels:
    app: nyx-backend-python
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nyx-backend-python
  template:
    metadata:
      labels:
        app: nyx-backend-python
    spec:
      serviceAccountName: nyx-backend-sa
      containers:
      - name: nyx-python-backend-api-container
        image: asia-south2-docker.pkg.dev/nyx-ai-415316/repo-1/nyx-backend-python:latest  # Replace with your image
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 30
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /health 
            port: 8000
          initialDelaySeconds: 10
          timeoutSeconds: 5
        startupProbe:
          httpGet:
            path: /health 
            port: 8000
          initialDelaySeconds: 10
          timeoutSeconds: 5
        securityContext:
          runAsUser: 1000   # Replace with the user ID you want to use
          runAsGroup: 1000   
        # Replace with your registry secret if needed
      restartPolicy: Always
