name: push-and-deploy-image
run-name: push-and-deploy-image-to-gke

on:
  push:
    branches:
      - dev
      - main 
      - click
      

env:
  GAR_LOCATION: asia-south2
  PROJECT_ID: nyx-ai-415316
  REGISTRY_NAME: repo-1
  GKE_CLUSTER: nyx-python-cluster-backend
  GKE_ZONE: asia-south2-a

jobs:
  push-and-deploy-image:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    permissions:
      id-token: write
      contents: write

    runs-on: ubuntu-latest

    steps:
      - name: test
        run: echo "test is running"
        
      - name: Checkout
        uses: actions/checkout@v2

      - name: Google Auth
        id: auth
        uses: google-github-actions/auth@v2.1.2
        with:
          token_format: 'access_token'
          credentials_json: ${{ secrets.SERVICE_ACCOUNT_KEY }}

      - name: Docker Auth
        id: docker-auth
        uses: docker/login-action@v1
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
          registry: '${{ env.GAR_LOCATION }}-docker.pkg.dev'

      - name: Build and Push Container
        run: |
          export DOCKER_IMAGE="${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REGISTRY_NAME }}/nyx-backend-python:${{ github.sha }}"
          docker build -t $DOCKER_IMAGE ./
          docker push $DOCKER_IMAGE

      - name: Get GKE Credentials
        uses: google-github-actions/get-gke-credentials@v0
        with:
          cluster_name: ${{ env.GKE_CLUSTER }}
          location: ${{ env.GKE_ZONE }}

      - name: Update Image Tag
        run: |
          export DOCKER_IMAGE="${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REGISTRY_NAME }}/nyx-backend-python"
          sed -i "s|image: ${DOCKER_IMAGE}:.*|image: ${DOCKER_IMAGE}:${{ github.sha }}|" k8s-templates/deployment.yaml

      - name: Set up kubectl
        run: |
          curl -LO "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x ./kubectl
          sudo mv ./kubectl /usr/local/bin/kubectl

      - name: Deploy using kubectl
        run: |
          kubectl apply -f k8s-templates/deployment.yaml

      - name: Commit Code with Updated Image Tags to Git Repo
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add k8s-templates/deployment.yaml
          git commit -m "Your commit message [skip ci]"
          git push
